{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=name>
        <dt>Text:
        <dd><textarea name=post rows=5 cols=40></textarea>
        <dd><input type=submit value=Post>
      </dl>
    </form>
  {% endif %}
  <ul class=todo>
  {% for key, value in data.iteritems() %}
    <li><h2>{{ value['name'] }}</h2>{{ value['post'] |safe }}
  {% else %}
    <li><em>Unbelievable. No entries so far.</em>
  {% endfor %}
  </ul>
{% endblock %}
